body{padding-top:90px;}
.breadcrumb-nav{position:fixed; top:50px; width:100%;z-index:1000;}
.footer{padding-bottom:20px;}
.img-thumb{width:100px;height:140px; padding:4px;margin:8px; background-color:#eeeeee; float:left; overflow:hidden;}
.img-thumb img{width:100%; height:80%;}
.img-thumb small{font-size:0.7em;}
.item-block{clear:both; overflow:hidden; padding-bottom:30px;}
.item-info{padding-bottom:5px;}
.item-wr{padding:2px 8px;clear:both;}
.item-name{padding-right:30px; float:left;}
.item-options a{padding:0 5px;}
.m0{margin:0;}
.menu, .menu-widget{list-style:none;display:block;padding:0;margin:0;}
.menu-widget-inner li{list-style-type:decimal !important;}
.menu li, .menu-widget li{list-style-type:none;}
.menu li a{display:block;padding:4px 16px;font-size:0.9em;}
.menu li a:hover{border-left: solid 1px #337ab7; padding-left:15px;}
.menu li a.active{border-left: solid 2px #337ab7; padding-left:14px;font-weight:bold;}
.menu-category{color:#999999;text-transform:uppercase;font-weight:bold; cursor:pointer;}
.p0{padding:0;}
.pyramid-cms-topbar, .pyramid-cms-topbar *{background-color:#121212;}
.pyramid-cms-topbar ul li a{color:#f5f5f5;}
.pyramid-cms-topbar .menu-text{color:#ffffff;}
.grey{background-color:#eeeeee;}
.tree ol{padding-left:20px;}
.treenode-options{display:block;padding-bottom:20px;}
.treenode-options li {
    list-style-type:none !important; 
    font-size:0.9em;
}
